body {
    background-color: #2f384c; /* Fondo oscuro */
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
}

.modal {
    transition: opacity 0.25s ease;
}

.modal-content {
    transition: transform 0.25s ease;
}

/* Estilos para scrollbar personalizado */
#cart-items::-webkit-scrollbar {
    width: 6px;
}

#cart-items::-webkit-scrollbar-track {
    background: #374151;
    border-radius: 3px;
}

#cart-items::-webkit-scrollbar-thumb {
    background: #4B5563;
    border-radius: 3px;
}

#cart-items::-webkit-scrollbar-thumb:hover {
    background: #6B7280;
}