/* Rojo */
/*
--text-color: #1a1c21; // Negro
--primary-color: #daba27;
--bg-color: #e74c3c;
--light-shadow: #ff6050;
--dark-shadow: #c0392b;
*/

/* Oscuro */
/*
--text-color: #e0e1e5; // Blanco
--primary-color: #daba27;

--bg-color: #2C303A;
--light-shadow: #393e4c;
--dark-shadow: #1f2228;

--bg-color: #2d2d2d;
--light-shadow: #3b3b3b;
--dark-shadow: #1f1f1f;

--text-color: #e0e1e5;
--primary-color: #0cf106;
--bg-color: #17171b;
--light-shadow: #262222;
--dark-shadow: #000000;
*/

/* Claro */
/*
--text-color: #333740;
--primary-color: #6D5DFC;
--bg-color: #e0e5ec;
--light-shadow: #ffffff;
--dark-shadow: #a3b1c6;

--text-color: #3D405B;
--primary-color: #E07A5F;
--bg-color: #F5F0E8;
--light-shadow: #ffffff;
--dark-shadow: #CEC5B6;

--text-color: #1a1c21;
--primary-color: #daba27;
--bg-color: #e0e5ec;
--light-shadow: #ffffff;
--dark-shadow: #a3b1c6;
*/

/* Azul */
/*
--text-color: #e0e1e5;
--primary-color: #6D5DFC;
--bg-color: #2c3e50;
--light-shadow: #3e5771;
--dark-shadow: #1a252f;

--text-color: #1a1c21;
--primary-color: #e74c3c;
--bg-color: #3498db;
--dark-shadow: #217dbb;
--light-shadow: #47b5fb;
*/

/* Verde */
/*
--text-color: #1a1c21;
--primary-color: #3498db;
--bg-color: #2ecc71;
--light-shadow: #35f686;
--dark-shadow: #25a25a;
*/

/* Purpura */
/*
--text-color: #1a1c21;
--primary-color: #e74c3c;
--bg-color: #9b59b6;
--light-shadow: #b46fd3;
--dark-shadow: #824399;
*/

/* Amarillo */
/*
--text-color: #1a1c21;
--primary-color: #e74c3c;
--bg-color: #f1c40f;
--light-shadow: #ffeb13;
--dark-shadow: #c29d0b;
*/